<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="feed.css">
    <title>Login</title>
</head>

<body>

    <nav class="navbar bg-body-tertiary navbar--config">
        <div class="container-fluid">
            <a class="navbar-brand ms-4">Local Trader</a>
            <form class="d-flex flex-row align-content-center justify-content-center" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-danger" type="submit"><a href="/signin">Registro</a></button>
                <button class="btn btn-outline-danger ms-2" type="submit"><a href="./">Inicio</a></button>
                <!-- <button class="btn btn-outline-success ms-2" type="submit"><a href="#">Iniciar sesión</a></button> -->
            </form>
        </div>
    </nav>

    <div class="container-sm d-flex flex-column align-content-center">
        <form action="/login" method="post" class="align-self-center mt-4 bg-body-tertiary p-5 border border-secondary border-start-0 border-top-0" style="width: 60%; max-width: 400px;">
            <div class="mb-3">
                <label for="username" class="form-label">Número de control</label>
                <input type="text" name="n_control_cliente" class="form-control" id="username" aria-describedby="username" required>
                <div id="username" class="form-text">Tu usuario es único</div>
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <input type="password" name="pass" class="form-control" id="pass" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar</label>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
    </div>


    <script src="./bootstrap.bundle.js"></script>
    <!-- <script src="../controllers/feed.controllers.js"></script> -->
</body>

</html>