<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="bootstrap.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="feed.css">
    <title>Login</title>
</head>

<body>

    <nav class="navbar bg-body-tertiary navbar--config">
        <div class="container-fluid">
            <a class="navbar-brand ms-4">Local Trader</a>
            <form class="d-flex flex-row align-content-center justify-content-center" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-danger" type="submit"><a href="/signin">Registro</a></button>
                <button class="btn btn-outline-danger ms-2" type="submit"><a href="./">Inicio</a></button>
                <!-- <button class="btn btn-outline-success ms-2" type="submit"><a href="#">Iniciar sesión</a></button> -->
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <h1>Aquí va el login</h1>
    </div>


    <script src="./bootstrap.bundle.js"></script>
    <!-- <script src="../controllers/feed.controllers.js"></script> -->
</body>

</html>