<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <title>Local Trader</title>
</head>

<body>

    <nav class="navbar bg-body-tertiary navbar--config">
        <div class="container-fluid">
            <a class="navbar-brand ms-4">Local Trader</a>
            <form class="d-flex flex-row align-content-center justify-content-center" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-success ms-2" type="submit"><a href="/login">Iniciar sesión</a></button>
                <button class="btn btn-outline-danger ms-2" type="submit"><a href="/">Inicio</a></button>
                <!-- <button class="btn btn-outline-success ms-2" type="submit"><a href="#">Iniciar sesión</a></button> -->
            </form>
        </div>
    </nav>
    <div class="container bg-red d-flex flex-column p-2">
        <h1 class="align-self-center">Registro de usuario</h1>
        <form action="/signin" method="post"
            class="d-flex flex-column mt-1 align-self-center bg-body-tertiary p-5 border border-secondary border-start-0 border-top-0" style="width: 60%; max-width: 600px;">
            <div class="mb-3">
                <label for="n_control" class="form-label">Numero de control</label>
                <input type="text" name="n_control" class="form-control" id="n_control" placeholder="Ej: 20497865">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="usuario@gmail.com">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre(s)</label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre(s)">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" name="telefono" class="form-control" id="telefono" placeholder="614XXXXXXX">
            </div>
            <div class="mb-3">
                <label for="tipo_usuario" class="form-label">Tipo de usuario</label>
                <select class="form-select" name="tipo_usuario" aria-label="Default select example">
                    <option selected>Estudiante</option>
                    <option value="1">Vendedor</option>
                    <!-- <option value="3">Three</option> -->
                </select>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Contrasena</label>
                <input type="password" name="pass" class="form-control" id="pass" placeholder="Contrasena">
            </div>
            <button type="submit" class="btn btn-primary btn-sm align-self-center">Registro</button>
        </form>
        <!-- <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contrasena</label>
            <input type="password" class="form-control" id="pass_confirmation" placeholder="Repetir contrasena">
        </div> -->
    </div>
    <script src="bootstrap.bundle.js"></script>
</body>

</html>